<div class="container">
  <h2>Lista de Pessoas</h2>
  <button class="add-button" (click)="addPerson()">Adicionar Pessoa</button>
  <table class="styled-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Endereço</th>
        <th>zipCode</th>
        <th>UF</th>
        <th>Ativo</th>
        <th>Contatos</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of people">
        <td>{{ person.id }}</td>
        <td>{{ person.name }}</td>
        <td>{{ person.address }}</td>
        <td>{{ person.zipCode }}</td>
        <td>{{ person.state }}</td>
        <td>{{ person.active ? 'Sim' : 'Não' }}</td>
        <td>{{ person.contacts.join(', ') }}</td>
        <td>
          <button class="edit-button" (click)="editPerson(person.id)">Editar</button>
          <button class="delete-button" (click)="deletePerson(person.id)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
